* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header styling */
.index-header{
    display:flex;
    justify-content:space-between;
    width: 100%;
    background-color: #4989CA;
}

/*navigation bar in header*/
nav{
    display: flex;
    justify-content: flex-end;
}

.navigations {
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    overflow: hidden;
    margin-top: 10px;
    margin-right:10px;
}

.nav-buttons a, .dropbtn {
    /*navigation buttons*/
    display: inline-block;
    border:none;
    color:black;
    font-family: 'Nunito', sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-buttons a:hover, .dropmenu:hover .dropbtn{
    background-color: #D7EAFD;
    color:#000064;
    text-decoration: underline;
}

.nav-buttons.dropmenu{
    display:flex;
}

/* Dropdown menu css from: https://www.w3schools.com/Css/tryit.asp?filename=trycss_dropdown_navbar2 */

.dropmenu-content {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropmenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropmenu-content a:hover {background-color: #D7EAFD;}
  
.dropmenu:hover .dropmenu-content {
    display: flex;
  }

  /* Dropdown menu end */


.nav-logo {
    /*logo*/
    flex:1;
    max-width: 80px;
    align-self: center;
}

img{
    width: 100%;
    height: auto;
}


/*Index siden */
.content {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    /* horizontally centers the container */
    grid-template-columns: repeat(6, 1fr);
    /*divide container into 6 equal fractions*/
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
}

.introduction {
    grid-column-start: 4;
    grid-column-end: 7;
    padding:10%;
    background-color: #D7EAFD;
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
}

.index-images {
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 4;
}

.news-articles{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row: 2;
    padding:10%;
}

.avsnitt1,
.avsnitt2 {
    padding: 25px 5px;
    line-height: 1.5;
    /*Linke avstand*/
}


/* KART */
.kart{
    text-align: center;
    padding-bottom: 4rem;
}

/*FOOTER*/
.footer{
    border-top: 1px solid #eee;
    padding: 1rem 0;
    background-color: #4989CA;
}


.container-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/*Dette er logo kolonnen (den venstre kolonnnen)*/
.logo-kolonne {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.logo-footer {
    margin-bottom: 1rem;
}

.sosiale-medier {
    list-style: none;
    display: flex;
    gap: 1.5rem;

}

.sosiale-link:hover,
.sosiale-link:active {
    color: #ccc;
}

.footer-link {
    height: 2.4rem;
    width: 2.4rem;
}

/**Dette er kontakt oss kolonnen (venstre kolonne**/

.adresse-kolonne{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 70px;
    
}

.copyright {
    font-size: 20px;
    text-align: center;
}


.adresse-tittel {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}

.address {
    font-size: 15px;
    padding-bottom: 10px;
}

.footer-link {
    text-decoration: none;
    color: #312e2e;
}

.footer-link:hover,
.footer-link:active {
    color: #ddc7c7;
}


/* css til campus siden */

.campus-container {
    display: grid;
    grid-template-columns: 50% 50%; /*Make the grid smaller than the container*/
    grid-template-rows: 50% 50%;
    padding: 60px;
    border: 6rem;
}

.image-container {
    max-width: 100%;
}
  
.campus-overskrift {
    font-size: 2.5rem;
    text-align: left;
    color: black;
    padding-left: 50px;
    padding-top: 10px;
    font-family: sans-serif;
    font-weight: 600;
}
    
.campus-intro {
    font-size: 1.1rem;
    color: black;
    text-align: left;
    padding-left: 40px;
    padding-top: 8px;
    font-family: sans-serif;
    margin: 20px;
    font-weight: 400;
}

.oversiktstittel {
    text-align: center;
    padding-left: 110px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
  
.oversiktsparagraf {
    margin-left: 110px;
    margin-right: 110px;
    padding-top: 25px;
    padding-bottom: 70px;
    font-size: large;
}

.studiesal-container {
    display: grid;
    grid-template-columns: 50% 50%; /*Make the grid smaller than the container*/
    grid-template-rows: 50% 50%;
    gap: 50px;
}
/*  https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_justify-content_end

    To make the grid
*/
.stillerom-oversikt {
    text-align: left;
    font-family: sans-serif;
    padding-top: 80px;
}
.campus-fasiliter {
    margin: 0;
    padding-top: 20px;
    padding-left: 100px;
    text-align: left;
    font-family: sans-serif;
}
  
ul li {
    margin: 10px; /* For få avstand mellom punktene */
}

  
h3 {
    padding-left: 130px;
}  


/*         css til topical page         */

.topical {
    background-color: rgb(227, 227, 219);
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-weight: 500;
}

.overskrift {
    text-align: left;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    font-weight: 900;
}

.fixedpositionnav{
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 5rem;
}

.video{
    max-width: 100%;
}

.topicalmain{
  padding-top: 14rem;
}


.overskrift1{
    font-size: 3rem;
}

.overskrift2{
    font-size: 2.5rem;
}


.topicalflex-container, .termsflex-container{
    display: flex;
}


.topicalflex-container, .termsflex-container > div{
    margin: 10px;
    padding: 40px;
}


.smartphones{
    font-size: 2.5rem;
    font-weight: bold;  
    padding-top: 3.5rem;  
    text-align: center;
}

.european{
    font-weight: 900;
}


h2 {
    font-size: 2rem;
    padding-top: 1.5rem;
}

.terms-p,.smarthphonesusage-p,.fails-p,.complies-p,.impact-p,.european-p {
    font-size: 1.3rem;
    padding-top: 1.5rem;
}

.caption {
    font-size: 0.9rem;
    font-style: normal;
}

.førstebilde{
    padding-left: 7rem;
    padding-top: 4rem;

}

.bilde2{
padding-top: 6rem;

}

.impact{
    padding-bottom: 4rem;
}

.midtdel{
    margin: 45px;
    text-align: left;
}

a:link{
    color: black;
}

a:hover{
    color: blue; 
}

.topicalnav, .bottom{
        padding: 0.5rem 0;
        background-color: rgb(194, 194, 183);
        margin-left: -3rem;
        margin-right: -3rem;
}

.sosiale-medier-topical{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 20px;
}

.footer-topical{
    border-top: 1px solid #eee;
    padding: 1rem 0;
    background-color:rgb(194, 194, 183);
    padding-bottom: 3px;
}



