/*************/
/* Generelt*/
/************/
* {
    padding: 0;
  
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}
body {
    background-color: white;
    max-width: 1280px;
    margin: 0 auto;
  }
  
a{
    text-decoration: none;
    color: inherit;

}
ul li {
    margin: 10px;
}
  
p{
    line-height: 1.6;
    text-align: left;

}

img { 
    /* skalering av alle img */
    width: 100%;
    height: auto;
}

nav {
    padding: 5px;
}


/**************************/
/****** HEADER *************/
/**************************/
.index-header {
    position: sticky; /* fester header til sin posisjon*/
    display: flex;
    justify-content: space-between; /*forflytter logo og nav på hver sin side*/
    padding: 10px;
    background-color: #4989CA;
    width: 100%;
    top: 0;
    z-index: 2;
}

/*navigasjonsbar*/

.navigations {
    display: flex;
    list-style-type: none;
}
/* css av lenker til navigering */
/* Dropdown menu css fra: https://www.w3schools.com/Css/tryit.asp?filename=trycss_dropdown_navbar2 */
.nav-buttons a,
.dropbutton {
    color: black;
    font-variant-caps: all-small-caps;
    font-size: 1.7rem;
    font-weight: 900;
    padding: 10px 15px;
    display: none;
}
/* Dropdown meny start */
.nav-buttons a:hover,
.dropmenu:hover .dropbutton {
    color: #312e2e;
}

.nav-buttons.dropmenu {
    display: flex; /*fleksibel meny som åpner sidelengs*/
}

.nav-logo {
    /*utforming av oslomet-logo*/
    width: 80px;
    height: auto;
    align-self: center;
    margin-left: 5%;
}

.dropmenu-content { 
    min-width: 160px;
    z-index: 1;
    display: flex;
}

.dropmenu-content a {
    color: black;
    padding: 12px 16px;
    display: block;

}

.dropmenu-content a:hover {
    background-color: #dae5e9;
}

.dropmenu:hover .dropmenu-content {
    display: flex;
}

.fa{
    display: none;
}

/* Dropdown-meny slutt */


/*********/
/*FOOTER*/
/*********/


.footer {
    border-top: 1px solid #eee;
    padding: 1rem 0;
    background-color: #4989CA;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

/*Dette er logo kolonnen (den venstre kolonnnen)*/
.logo-kolonne {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.logo-footer {
    margin-bottom: 1rem;
}

.sosiale-medier {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.sosiale-link:hover,
.sosiale-link:active,.footer-link:hover,
.footer-link:active {
    color: #ccc;
}

/**Dette er kontakt oss kolonnen (venstre kolonne**/

.adresse-kolonne {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 70px;

}
.adresse-tittel {
    font-size: 25px;
    font-weight: bold;
    margin:5px 0 2px 0 ;
}


/**************/
/*INDEX SIDEN */
/**************/
.index-content {
    display: flex; 
    flex-direction: column;/* alt innhold ligger etter hverandre i en kolonne */
    justify-content: center; /*sentrer alt innhold*/
    align-items: center;
    padding: 20px;
}

.index-image {
    width: 75%;
    flex: 1;
}

.index-intro {
    flex: 1;
    width: 75%;
    border: 1px solid #D4D4D4;
    border-top: none;
    background-color: white;
}

.index-intro h1 {
    background-color: #4989CA;
    text-align: center;
    font-size: 3em;
}

.index-innlegg{
    padding:0 15px;
}

.headings {
    flex: 1;
    width: 75%;
    padding-top: 20px;
}

/* fremhevede artikler */

.index-highlights {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /*deler området i 3 like kolonner*/
    grid-template-rows: auto;
    border-top: 1px solid #d4d4d4;
    background-color: white;
}

/* artiklene inni */

.articles {
    display: grid; 
    grid-template-columns: repeat(8, 1fr); /*deler området i 8 like kolonner*/
    grid-template-rows: repeat(6, 1fr); /*deler området i 6 like rader*/
    margin: 20px 0; /* 20px topp og bunn, 0 for venstre og høyre */
}
/* bildene til artiklene */
.articles-picture {
    grid-area: 1 / 1 / 7 / 9;  /* dekke radene fra 1 til 7 og kolonnene fra 1 til 8*/
    display: flex;
  }

/* for å bildene skal fylle boksene */
.cover-articles{
    object-fit: cover;
}

/* artikkel innhold */
.articles-content {
    grid-area: 2 / 2 / 6 / 8;
    background-color: white;
    opacity: 80%;
    padding: 10px;
}
/* KART */
.overskriftkart {
    text-align: center;
}

.kart {
    padding: 3rem;
}



/*********************************/
/**CAMPUS OG ACCESSIBILITY SIDEN**/
/*********************************/

.campus-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 60px;
}

.campus-overskrift {
    font-size: 2.5rem;

}

.campus-intro {
    font-size: 1.1rem;

}
.oversiktstittel {
    text-align: center;
    

}
.oversiktsparagraf {
    margin: 0 50px 0 50px;
    padding: 25px 0 40px 0;
    font-size: 20px;
}

.image-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(2, min-content);
    place-items: center;
    gap :10px;

}

.stillerom-overskrift, .studiesal-overskrift, .seminar-overskrift, .grupperom-overskrift {
    padding:30px 0 0 30px;
    text-align: left;
}
.campus-fasiliteter {
    margin: 30px;
}


.image-1, .image-2, .image-4, .image-5, .image-7, .image-8, .image-10, .image-11 {
  grid-column: 1 / -1;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.image-3, .image-6, .image-9, .image-12 {
  grid-row: 1 / 3;
  grid-column: 3 / 3;
  width: 300px;
  height: 410px;
  object-fit: cover;
}

.link-campus    {
    padding: 5px;
    text-align: center;
    margin-bottom: 25px;
}
.prøve  {
    display: grid;
    grid-template-columns:2fr  2fr;
    grid-template-rows: repeat(2, min-content);
    place-items: center;
    gap :10px;
    padding-left: 15px;
    padding-right: 15px;
}
/***************/
/*TOPICAL PAGE*/
/**************/



.videotopical{
    text-align: center;
    margin-top: 20px;
}

.europeanflex-container,
.termsflex-container {
    display: flex;
}

.europeanflex-container>div,
.termsflex-container>div {
    margin: 10px;
    padding: 4rem;
}

.overskriftmartphones {
    font-size: 2.5rem;
    padding: 2rem 2rem;
    text-align: center;
}
.topical-head{
    background-color: rgb(194, 194, 183);
}

.topical-p {
    font-size: 1.4rem;
    padding-top: 1.7rem;
}
.topical-h2{
    font-size: 1.5rem;
}
.introtekst {
    padding-right: 15rem;
}

.caption {
    font-size: 0.9rem;
}

.midtdel {
    margin: 45px;
    text-align: left;
    padding: 110px;
    padding-top: 30px;
}



/****Media-Query**/
/*****TABLETS*****/
/*****************/
@media screen and (max-width: 768px) {
    
.dropmenu-content { 
    display: none;
    font-size: 10px;
 

}
.nav-buttons a,
.dropbutton {
    display: inline-block;
    font-variant-caps: all-small-caps;
    text-align: center;
    padding: 10px 15px;
    font-size: 1.2rem;
   
}

.campus-container {
    grid-template-columns: 1fr 1fr; 

}

.prøve  {
    display: grid;
    grid-template-columns:  2fr;
    grid-template-rows: repeat(2, min-content);
    place-items: center;
    gap :10px;
    padding-left: 15px;
    padding-right: 15px;
}
.campus-container {
    padding: 40px;
    grid-template-columns: 1fr; /* Two columns */
 
}
.index-highlights { 
    display: flex;
    flex-direction: column;
}

.europeanflex-container,
.termsflex-container {
   flex-direction: column;
}
.midtdel{
    padding: 10px;
}

video{
    width: 100%;
}

}

@media screen and (max-width: 600px) {
    .campus-intro {
        font-size: 1rem;
   
        padding-left: 5px;
    }
  
    

    }



    

